<script lang="ts">
  import Todos from '$root/components/Todos.svelte'
import '../styles/global.css'
</script>


<!-- <h1>Welcome to SvelteKit</h1> -->

<!-- <input class="edit" type="text" autofocus /> -->
<Todos />
<!-- <p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<!-- import '$root/styles/global.css' 
  import '$root/styles/global.css'

-->
