:root {
  --bg-color:  #fff;
  --bg-header:  #eee;
  --fg-color:  #333;
  --fg-header:  #222;
  --bg-list: #f5f5f5;
  --bottom-list: #ddd;
  --button-bg: #4CAF50;
  --button-fg: white;
}

/* Default styles */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--fg-color);
	background-color: var(--bg-color);
}

header, footer {
	background-color: var(--bg-header);
	padding: 20px;
}

header h1, footer p {
	margin: 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

form {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	background-color: var(--bg-header);
}

label, input, button {
	display: block;
	background-color: var(--bg-header);
	color: var(--fg-header);
	border-bottom: 1px solid var(--bg-header);
}

label {
	margin-right: 20px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

input[type="text"] {
	flex-grow: 1;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid var(--bg-header);
	font-size: 18px;
}

button {
  background-color: var(--button-bg);
	color: var(--button-fg);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
	font-size: 18px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 10px;
	background-color: var(--bg-list);
	border-bottom: 1px solid var(--bottom-list);
}

/* Dark theme */
.dark-mode {
  --bg-color:  #333;
  --bg-header:  #222;
  --fg-color:  #fff;
  --fg-header:  #eee;
  --bg-list: #222;
  --bottom-list: #333;
  --button-bg: #4CAF50;
  --button-fg: black;

	/* color: #eee; */
	/* background-color: #222; */
}
/*
header.dark-mode, footer.dark-mode {
	background-color: #222;
}

label.dark-mode {
	color: #eee;
}

input[type="text"].dark-mode {
	background-color: #444;
	border-bottom-color: #eee;
	color: #eee;
}

button.dark-mode {
	background-color: #555;
	color: #eee;
}

ul.dark-mode {
	background-color: #333;
}

li.dark-mode {
	background-color: #444;
	border-bottom-color: #555;
}
*/

/* Fonts */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
