	/* Style the todo list */
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Style the input and button */
input[type="text"] {
	width: 75%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #ccc;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
}
