<script lang = 'ts'>
  let inputValue='';
async function handleSubmit(event) {
   event.preventDefault();
  const response = await fetch('http://192.168.64.3:8081/todos', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(inputValue)
    });

    inputValue = '';
    if (response.ok) {
      console.log('Todo added successfully!');
    } else {
      console.log('Error adding todo.');
    }
    const getResponse = await fetch('http://192.168.64.3:8081/todos');
    todos = await getResponse.json();
 
}
</script>

<form on:submit={handleSubmit}>
  <input type="checkbox" id="toggle-all" class="toggle-all" />
  <label aria-label="Mark all as complete" for="toggle-all">
    Mark all as complete
  </label>

  <input
    bind:value={inputValue}/>
    id="new-todo"
    class="new-todo"
    placeholder="What needs to be done?"
    type="text"
    autofocus
  />
</form>

<style>
  .toggle-all {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
  }

  .toggle-all + label {
    position: absolute;
    font-size: 0;
  }

  .toggle-all + label:before {
    content: '❯';
    display: block;
    padding: var(--spacing-16);
    font-size: var(--font-24);
    color: var(--color-gray-58);
    transform: rotate(90deg);
  }

  .toggle-all:checked + label:before {
    color: var(--color-gray-28);
  }

  .new-todo {
    width: 100%;
    padding: var(--spacing-16);
    padding-left: 60px;
    font-size: var(--font-24);
    border: none;
    border-bottom: 1px solid var(--shadow-1);
  }
</style>
