<h1 class= "my-component">Todos</h1>  
<script>
//  let idValue=1;
  let todos;
  let inputValue = '';

  let todoId ;

  async function updateTodo(currentId) {
  const response =  fetch('http://192.168.64.3:8081/todos', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(currentId)
    })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));
    const getResponse = await fetch('http://192.168.64.3:8081/todos');
    todos = await getResponse.json();
  }


  async function fetchTodos() {
    const response = await fetch('http://192.168.64.3:8081/todos');
    todos = await response.json();
  }

let isEditable = false; // set the initial state of the button
  function toggleComplete() {
    isEditable = !isEditable; // toggle the state of the button
  }

  function toggleEditable() {
    isEditable = !isEditable; // toggle the state of the button
  }
  
  fetchTodos();
</script>
<style>
  :global(body) {
    background-color: #000000;
  }
  .my-component {
    color: white;
    text-align: center;
  }
</style>

<div class= "my-component">
  <form on:submit={handleSubmit}>
    <input bind:value={inputValue}/> 
    <button type="submit">Add todo</button>
  </form>
</div>
<div class= "my-component">
  {#if todos}
     <h1>InComplete</h1>
     {#each todos as todo}
      {#if !todo.completed}
      <ul>
        <input type="text" value={todo.task} />
	<button on:click={updateTodo(todo.todoId)}> 
	Done
	</button>
      </ul>
      {:else}
      {/if}
      {/each}
	<h1>Complete</h1>
      {#each todos as todo}
      {#if todo.completed}
      <ul>
        <input type="text"  value={todo.task} />
	<button on:click={updateTodo(todo.todoId)}>
	Not Done
	</button>
      </ul>
      {:else}
      {/if}
      {/each}
  {:else}
    <p>Loading...</p>
  {/if}
</div>
